
.blog-box{
    width: 550px;
    background-color: white;
    border: none;
    margin: 20px;

}
.blog-img{
    height: 500px;
    width: 100%;
}
.blog-text h1{
    color: #2a53c1;
    font-size: 2rem;
    padding-top: 50px;
}

/**------------responsiveness----------*/

@media(max-width:550px){
    .blog-box{
        width: 100%;
        margin: 20px 10px;       
    }
    .navbar{
        padding-left: 20px;
        width: 100%;
        height: 60px;
    }
    a{
        padding: 10px;
        padding-top: 20px;
    }
    .blog-img{
        height: 300px;
        width: 100%;
    }
    
}


@media(min-width:550)and(max-width:1250px){
    .blog-box{
        width: 100%; 
        border: none;      
    }
    .blog-img{
        height: 400px;
        width: 100%;
    }
}
@media(max-width:2500px){
    .blog-box{
        width: 90%;
        border: none;       
    }
    .blog-img{
        height: 600px;
        width: 100%;
    }
}


